body.default {
  background-color: #f8f9fa;
  color: #343a40;
}

body.light {
  background-color: #fff;
  color: #212529;
}

body.dark {
  background-color: #343a40;
  color: #f8f9fa;
}

.navbar {
  margin-bottom: 30px;
  background-color: #e9ecef;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 0.5s ease-out;
}

.completed {
  text-decoration: line-through;
  color: #6c757d;
}

.btn-outline-primary {
  margin-right: 5px;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-primary, .btn-danger {
  transition: background-color 0.3s ease;
}
